<%= link_to "Change your password", edit_user_registration_path %>

<% if @posts.size == 0 %>
  <%= image_tag 'logo.png', class: "image-center" %>
<% else %>
  <% @posts.each_with_index do |f, i| %>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp my-card">
      <div class="mdl-card__supporting-text">
        <strong><div><%= i+1 %>) <%= f.title %></div></strong>
        <div><%= f.content %></div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <ul class="demo-list-three mdl-list no-margin no-padding">
          <% f.comments.each_with_index do |c, j| %>
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <span class="mdl-list__item-text-body">
                  <%= j+1%>) <%= c.content %>
                </span>
              </span>
                <span class="mdl-list__item-secondary-content">
                  <a data-confirm="진짜 삭제해?!" data-method="DELETE" class="mdl-list__item-secondary-action" href="/posts/<%= f.id %>/comments/<%= c.id %>"><i class="material-icons">delete</i></a>
                </span>
            </li>
          <% end %>
        </ul>
        <div class="mdl-grid--no-spacing">
          <form action='/posts/<%=f.id%>/comments' method='POST'>
            <div class="mdl-textfield mdl-js-textfield mdl-cell--9-col">
              <textarea class="mdl-textfield__input comment-section" type="text" id="sample1" name="content" rows="1"></textarea>
              <label class="mdl-textfield__label comment-label" for="sample1">댓글 작성하기</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
              등록
            </button>
          </div>
        </form>
      </div>
      <div class="mdl-card__menu">
          <a data-confirm="진짜 삭제해?!" data-method="DELETE" href="/posts/<%= f.id %>" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">delete</i>
          </a>
      </div>
    </div>
  <% end %>
<% end %>

<a href="/posts/new" class="create-post mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">add</i>
</a>

<script>
    var textareas = document.querySelectorAll('textarea');

    for(const textarea of textareas) {
      textarea.addEventListener('keydown', () => {
        setTimeout(function(){
            console.log(textarea.scrollHeight);
            textarea.style.cssText = 'height:auto; padding:0';
            textarea.style.cssText = 'height:' + (textarea.scrollHeight) + 'px';
        },0);
      });
    }

    $(document).ready(function(){
    $(".ajax-delete").on("click", function(e) {
      const comment_id = $(this).data("comment_id")
      e.preventDefault()  //클릭 event 외에 별도의 브라우저 행동을 block (ex: page 이동)
      e.stopPropagation()  //부모 tag들에 event 전파(bubble up)를 block  
      $.ajax({
        type: "DELETE",
        dataType: "JSON",
        url: "/comments/" + comment_id,
        data: {},
        success: function(data) {
          if ($(".comment" + comment_id).hasClass("newest-comment")) {
            $(".comment" + comment_id).next("li").addClass("newest-comment")
            $(".comment" + comment_id).next("li").show()
          }
          $(".comment" + comment_id).remove()
          return;
        }
      })
    })
    
    $("form").submit(function(event){
      const post_id = $(this).data("post_id")
      $.ajax({
        url: "/posts/" + post_id + "/comments",
        type: "POST",
        data: {
          post_id: post_id,
          content: $(".input"+post_id).val()
        },
        dataType: "JSON",
        success: function(data) {
          console.log("success")
          return
        }
      })
    })
</script>